<form [formGroup]="searchGroup">
  <mat-form-field appearance="outline">
    <mat-label>House Number</mat-label>
    <input matInput #searchBox id="search-box" placeholder="123" formControlName="searchControl" [matAutocomplete]="auto" (keyup)="search(searchBox.value)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let feature of features" [value]="feature.attributes.ADDRESS" [routerLink]="['/address', feature.attributes.ADNO]">
      {{feature.attributes.ADDRESS}}
    </mat-option>
  </mat-autocomplete>
</form>
