<form [formGroup]="searchForm">
  <mat-form-field appearance="fill">
    <mat-label>House Number</mat-label>
    <input matInput #searchBox id="search-box" placeholder="123" formControlName="searchControl" [matAutocomplete]="auto" (keyup)="search(searchBox.value)">
    <mat-icon matSuffix>search</mat-icon>
    <mat-error *ngIf="searchControl.invalid && searchControl.errors.required">Enter a <strong>house number (123)</strong>
      for the address of interest</mat-error>
    <mat-error *ngIf="searchControl.invalid && searchControl.errors.pattern">Only enter the <strong>house number (123)</strong>
      for the address of interest</mat-error>
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let feature of features" [value]="feature.attributes.ADRHSNO" [routerLink]="['/address', feature.attributes.ADNO]">
      {{feature.attributes.ADDRESS}}
    </mat-option>
    <mat-option *ngIf="features?.length === 0">Address Not Found</mat-option>
  </mat-autocomplete>
</form>
