<mat-card class="card">
  <mat-card-title>Information</mat-card-title>
  <mat-card-content>
    <p>The Address Wizard is a tool to help you obtain geographical, political and additional information about Jefferson
      County addresses. For example, by typing in a house number, you can determine the "Municipal Status" of the address,
      whether the address is located in a city or in an unincorporated part of the county. You will find which elected officials
      represent the address. You will also find links to parcel and tax information about the address.</p>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-title>Address House Number Search</mat-card-title>
  <mat-card-content>
    <app-search></app-search>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-title>Instructions</mat-card-title>
  <mat-card-content>
    <p>Enter only the house number for the address of interest. For example, if the address of interest is "3500 ILLINOIS
      ST" you should enter "3500" in the search box.</p>
    <p>The results will contain all Jefferson County addresses with "3500" as a house number, scroll though the results (if
      necessary), select "3500 ILLINOIS ST", and the address information will display. It's that easy!</p>
  </mat-card-content>
</mat-card>
